# User data
## Default in-directory patch storage location
patches/

# Machine-generated
dist/
.cache/
.tmp/

# Temporary/development
ignored/

# Filesystem testing
test/testing-sandbox/

# Privacy / machine-specific
.env