/*
	## Color palette

	dark - hsla(29, 100%, 6%, 1)
	light - hsla(69, 100%, 96%, 1)
	light-d - hsl(53, 100%, 79%)
	green - hsla(97, 100%, 75%, 1)
	brown - hsla(24, 94%, 14%, 1)
	orange - hsla(33, 93%, 54%, 1)
	tan - hsla(38, 93%, 77%, 1)

	## Font stack

	body - 'Inter UI', 'Helvetica Neue', 'Helvetica', 'Source Sans Pro', 'Arial', sans-serif;
 */



/*
	Elements
*/
* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Inter UI', 'Helvetica Neue', 'Helvetica', 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.5;

	min-width: 300px; /* Just a little more room to breathe than the bare minimum */
}

input {
	font-family: 'Inter UI', 'Helvetica Neue', 'Helvetica', 'Source Sans Pro', 'Arial', sans-serif;
}

/*
	TEMP DEV-ONLY
 */
@media screen and (min-width: 700px) {
	body {
	 	max-width: 350px;
	 	min-width: 300px;
	 	max-height: 300px;
	 	box-shadow: 0px 2px 4px 0px hsla(0,0%,0%,0.3);
	 	margin: 3em auto;
	}
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-firefox-appearance: none;
	-gecko-appearance: none;
	outline: none;
	width: 0;
	height: 0;
	margin: 0;
	margin-right: calc(2em + 0.6em); /* MAGIC VALUE: 2em is the size of the box vs (missing/invisible) original */
}
input[type="checkbox"]::after {
	content: '\2713';
	display: inline-flex;

	position: relative;

	width: 1em;
	height: 1em;
	font-size: 2em;

	background-color: white;
	border: 1px solid hsla(0,0%,0%,0.3);
	border-radius: 3px;
	cursor: pointer;

	transition: color 200ms;
	color: transparent; /* For the checkmark */

	align-items: center;
	justify-content: center;
}
input[type="checkbox"]:checked::after {
	color: hsla(0, 0%, 13%, 1);
	text-shadow: 1px 1px 0px hsla(33, 93%, 54%, 1);

	/* For the checkmark */
	transition: color 200ms;
}
input[type="checkbox"]:focus::after,
input[type="checkbox"]:hover::after {
	border-color: hsl(39, 100%, 50%);
}
input[type="checkbox"]:active::after {
	background-color: hsl(39, 100%, 81%);
}

section {
	padding: 0.4em;
	padding-top: 0.62em;
	padding-bottom: 0.62em;
}

/*
	Objects
*/
.btn {
	border: 1px solid hsla(29, 100%, 6%, 1);
	color: hsla(29, 100%, 6%, 1);
	border-radius: 3px;
	font-size: 0.8em;
	padding: 0.6em 1em;
	cursor: pointer;
	font-weight: 700;
	user-select: none;

	font-family: 'Inter UI', 'Helvetica Neue', 'Helvetica', 'Source Sans Pro', 'Arial', sans-serif; /* Only to override system defaults */

	transition: background-color 50ms;
}
.btn:focus {
	outline: 2px solid background-color: hsla(33, 93%, 54%, 1);
}
.btn:hover {
	background-color: hsla(38, 93%, 77%, 1);
}
.btn:active {
	background-color: hsla(33, 93%, 54%, 1);
}
.btn-disabled {
	opacity: 0.2;
	cursor: not-allowed;
}
.btn-isFailed:hover,
.btn-disabled:hover {
	background-color: inherit;
}
@keyframes flashRed {
	from {
		background-color: red;
	}

	/* Back to previous background */
	/* to {
		background: green;
	} */
}
.btn-isFailed {
	animation-name: flashRed;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2000ms;
}



.neonSign {
	color: hsla(97, 100%, 75%, 1);
	border: 1px solid;
	border-radius: 3px;
	padding: 0 0.3em;
	line-height: 1;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 3px 0px, inset 0px 0px 3px 0px;
	text-shadow: 0px 0px 3px;

	background-color: transparent;
	font-family: inherit;
	font-size: inherit;

	cursor: pointer;
	transition: color 200ms, box-shadow-color 200ms, text-shadow-color 200ms;
}
.neonSign:focus {
	box-shadow: 0px 0px 8px 1px, inset 0px 0px 8px 1px;
	text-shadow: 0px 0px 3px;
	outline: none;
}
.neonSign-off {
	color: hsl(0, 0%, 76%);
	box-shadow: 0px 0px 3px 0px transparent;
	text-shadow: 0px 0px 3px transparent;
}
.neonSign-off:focus {
	color: hsl(0, 0%, 90%);
	box-shadow: none;
	text-shadow: none;
	box-shadow: 0px 0px 0px 1px hsl(0, 0%, 90%);
}



.spaceyHeader {
	font-size: 0.8em;
	color: hsla(69, 100%, 96%, 0.52);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.1px;
	font-weight: 300;
	user-select: none;
}
.spaceyHeader-onLight {
	color: hsla(29, 100%, 6%, 1);
}

.boxLink {
	display: inline-block;
	font-size: 0.9em;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-decoration: none;
	padding: 0em 0.3em;

	user-select: none;
}
.boxLink:hover {
	color: hsla(97, 100%, 75%, 1);
	border-color: hsla(97, 100%, 75%, 1);
}

/*
	Components
*/
.Mane {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
}



.PillBtn {
	display: flex;
	padding: 0.3em;
	border: 1px solid hsla(0,0%,0%,0.3);
	cursor: pointer;
	user-select: none;

	flex-direction: horizontal;
	align-items: center;
	justify-content: space-between;
}
.PillBtn:first-of-type {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding-left: 0.4em;
}
.PillBtn:last-of-type {
	border-left: none;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding-right: 0.4em;
}
.PillBtn input[type="checkbox"]::after {
	border: solid 1px hsla(0,0%,0%,0.1);
	box-shadow: none;
}



.ActivePatches {
	background-color: hsla(29, 100%, 6%, 1);
	color: white;
	flex-grow: 1;
}

.ActivePatches_list {
	padding: 0.4em 0em;
	margin: 0;
	font-family: Inconsolata, Courier New, monospace;
	text-align: center;
}

.ActivePatches_patch {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.3em;

	position: relative;
}

.ActivePatches_matchList {
	flex-grow: 1; /* Take up all the empty space and internally left-align text */
	margin-left: 0.62em;

	position: relative;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	scrollbar-width: none; /* This list is only one line high; a visible scrollbar will make it unreadable. */
	display: inline-flex; /* Ignore the source-code inline spaces from the inner content. */
}
.ActivePatches_assets {
	white-space: nowrap;
	position: relative; /* Purely for the pos:abs ::after */
}
.ActivePatches_assets::after {
	content: '';
	position: absolute;
	right: 100%;
	top: 0;
	width: 3em;
	height: 100%;
	background-image: linear-gradient(90deg, transparent 0%, hsla(30, 100%, 6%, 1) 100%);
}
.ActivePatches_matcher {
	color: hsla(69, 100%, 96%, 1);
	display: inline-flex; /* Ignore the source-code inline spaces from the inner content. */
}
.ActivePatches_matcher-active {
	color: hsla(38, 93%, 77%, 1);
	font-weight: bold;
}
.ActivePatches_matcher::after {
	content: ',';
	display: inline;
	margin-right: 0.4em;
}
.ActivePatches_matcher:last-child::after {
	content: initial;
	display: none;
	margin-right: 0;
}

.ActivePatches_empty {
	display: inline-flex;
	text-align: center;
	font-style: italic;
	color: hsl(33, 78%, 60%);
	position: relative;
	right: 2px; /* Adjustment for italics */

	justify-content: center;
}
.ActivePatches_empty::before,
.ActivePatches_empty::after {
	/* Adjustment for specific font */
	top: 1px;
	position: relative;
}
.ActivePatches_empty::before {
	content: '\2772';
	margin-right: 0.4em;
}
.ActivePatches_empty::after {
	content: '\2773';
	margin-left: 0.3em; /* Slightly smaller to account for italic's rightwards slant */
}



.NewPatch {

}

.NewPatch_matchList {
	width: 100%;
	font-size: 0.9em;
	margin: 0.62em auto;
	position: relative;
	display: block;
	padding: 0.62em;
	border: 1px solid #eee;
	border-radius: 3px;
}

.NewPatch_patchFiles {
	display: flex;

	flex-direction: horizontal;
	align-items: center;
	justify-content: center;
}

.NewPatch_patchFile {
	font-size: 0.8em;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-right: 1em;

	user-select: none;
	cursor: pointer;
}
.NewPatch_patchFileCheckbox::after {
	top: -0.5em; /* To account for vertical centering */
}
.NewPatch_patchFile-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.NewPatch_patchFile-disabled .NewPatch_patchFileCheckbox::after,
.NewPatch_patchFile-disabled .NewPatch_patchFileCheckbox:focus::after,
.NewPatch_patchFile-disabled .NewPatch_patchFileCheckbox:hover::after,
.NewPatch_patchFile-disabled .NewPatch_patchFileCheckbox:active::after,
.NewPatch_patchFile-disabled .NewPatch_patchFileCheckbox:checked::after {
	border-color: hsla(39, 0%, 50%, 1);
	text-shadow: none;
	background-color: hsla(39, 0%, 50%, 1);
	cursor: not-allowed;
}

.NewPatch_createBtn {

}



.Growl {
	flex-shrink: 0;
	display: flex;
	overflow: hidden;
	color: hsla(29, 100%, 6%, 1);
	border-top: 1px solid white;
	cursor: pointer;

	opacity: 1;
	max-height: 8em;
	transition: max-height 200ms , opacity 200ms;
	transition-timing-function: linear;
}
.Growl span {
	padding: 0.62em;
}
.Growl-isHidden {
	border: none;
	max-height: 0;
	opacity: 0;
}
.Growl-success {
	background-color: hsla(97, 100%, 75%, 1);
}
.Growl-info {
	background-color: hsla(38, 93%, 77%, 1);
}
.Growl-warning {
	background-color: hsla(33, 93%, 54%, 1);
}
.Growl-error {
	background-color: red;
	color: hsla(69, 100%, 96%, 1);
}
.Growl-nonDismissable {
	cursor: initial;
}



/*
	Utility classes
*/

.u-hidden {
	display: none;
	visibility: hidden;
}
