/* 
	Colors
	dark - hsla(29, 100%, 6%, 1)
	light - hsla(69, 100%, 96%, 1)
	green - hsla(97, 100%, 75%, 1)
	brown - hsla(24, 94%, 14%, 1)
	orange - hsla(33, 93%, 54%, 1)
	tan - hsla(38, 93%, 77%, 1)
 */



/* 
	TEMP DEV-ONLY
 */
body {
 	max-width: 350px;
 	min-width: 300px;
 	max-height: 700px;
 	box-shadow: 0px 2px 4px 0px hsla(0,0%,0%,0.3);
 	margin: 3em auto;
}


/* 
	Elements
*/
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-firefox-appearance: none;
	-gecko-appearance: none;
	outline: none;
	width: 0;
	height: 0;
	margin: 0;
	margin-right: calc(2em + 0.6em); /* MAGIC NUMBER */
}
input[type="checkbox"]::after {
	content: '\2713';
	display: inline-flex;

	position: relative;

	width: 1em;
	height: 1em;
	font-size: 2em;

	background-color: white;
	border: 1px solid hsla(0,0%,0%,0.3);
	border-radius: 3px;
	cursor: pointer;

	transition: color 200ms;
	color: transparent; /* For the checkmark */

	align-items: center;
	justify-content: center;
}
input[type="checkbox"]:checked::after {
	color: hsla(0, 0%, 13%, 1);
	text-shadow: 1px 1px 0px hsla(33, 93%, 54%, 1);

	/* For the checkmark */
	transition: color 200ms;
}
input[type="checkbox"]:focus::after,
input[type="checkbox"]:hover::after {
	border-color: hsl(39, 100%, 50%);
}
input[type="checkbox"]:active::after {
	background-color: hsl(39, 100%, 81%);
}

section {
	padding: 0.4em;
	padding-top: 0.62em;
	padding-bottom: 0.62em;
}

/* 
	Objects
*/
.btn {
	border: 1px solid hsla(29, 100%, 6%, 1);
	color: hsla(29, 100%, 6%, 1);
	border-radius: 3px;
	font-size: 0.8em;
	padding: 0.6em 1em;
	cursor: pointer;
	font-weight: 700;
	font-family: sans-serif;

	transition: background-color 50ms;
}
.btn:hover {
	background-color: hsla(38, 93%, 77%, 1);
}
.btn-disabled {
	opacity: 0.2;
	/* border-color: hsla(29, 100%, 6%, 0.3); */
	/* color: hsla(29, 100%, 6%, 0.3); */
	cursor: not-allowed;
}
.btn-disabled:hover {
	background-color: inherit;
}

.spaceyHeader {
	color: hsla(69, 100%, 96%, 0.52);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.1px;
	font-weight: 300;
	font-size: 0.8em;
}
.spaceyHeader-onLight {
	color: hsla(29, 100%, 6%, 1);
}

.boxLink {
	display: inline-block;
	font-size: 0.8em;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-decoration: none;
	padding: 0.2em 0.4em;
}
.boxLink:hover {
	color: hsla(97, 100%, 75%, 1);
	border-color: hsla(97, 100%, 75%, 1);
}

/* 
	Components
*/
.PillBtn {
	display: flex;
	padding: 0.3em;
	border: 1px solid hsla(0,0%,0%,0.3);
	cursor: pointer;
	user-select: none;

	flex-direction: horizontal;
	align-items: center;
	justify-content: space-between;
}
.PillBtn:first-of-type {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding-left: 0.4em;
}
.PillBtn:last-of-type {
	border-left: none;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding-right: 0.4em;
}
.PillBtn input[type="checkbox"]::after {
	border: solid 1px hsla(0,0%,0%,0.1);
	box-shadow: none;
}



.ActivePatches {
	background-color: hsla(29, 100%, 6%, 1);
	color: white;
}

.ActivePatches_list {
	padding: 0.4em;
	margin: 0;
	font-family: monospace;
}

.ActivePatches_patch {
	color: hsla(38, 93%, 77%, 1);
	list-style-type: none;
	display: block;
}



.NewPatch {

}

.NewPatch_matchList {
	width: 100%;
	margin: 0.62em auto;
	position: relative;
	display: block;
	padding: 1em;
	/* background-color: hsla(38, 93%, 77%, 1); */
	border: 1px solid #eee;
	border-radius: 3px;
}

.NewPatch_patchFiles {
	display: flex;

	flex-direction: horizontal;
	align-items: center;
	justify-content: center;
}

.NewPatch_patchFile {
	font-size: 0.8em;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-right: 1em;

	cursor: pointer;
}
.NewPatch_patchFile input[type="checkbox"]::after {
	top: -0.5em; /* To account for vertical centering */
}
