.header {
  position: relative !important;
}

.center {
  position: relative;
  right: initial;
  height: initial;
  position: initial;
}

/* Intro just repeats the content already in the header. */
.dl-promo-cont,
.social-cont,
.intro {
  display: none;
}

.nonDLContentWrap {
  min-height: initial;
}

.page {
  min-height: 100vh;
}

.DLExtraInfo-wrap {
  margin-top: 1em;
  position: initial !important;
}

.DLExtraInfo-uploadLocationMap,
.DLExtraInfo-upload,
.DLExtraInfo-additional {
  display: none;
}