/*
  Ads for "support the Guardian" etc
  
  The Guardian is a privately-owned cheerleader of neoliberal capitalism; a body that exists to make profit for its owners and to shape the world's ideology as the owners desire. In this sense, it is functionally identical to all other privately-owned media outlets - The New York Times, CNN, FOX, The Australian, The Washington Post, Al Jazeera etc. What they say and publish are all completely autocratically controlled by private owners, who are unanimously extremely rich capitalists. It is fundamentally a destructive and anti-social entity that deserves to be completely removed. "Journalism" is not per se an important thing to support, as all journalism - as with all human work - is intrinsically subjective. *What* journalists choose to feature or choose to omit, and *how* they contextualise & analyse those events, is a political position. This is true no matter how much they try to obfuscate that, and put up a veneer of objectivity through the use of neutral-sounding language, or by positioning themselves at what they consider to be the political "centre". 
*/

/* End-of-article ad */
.contributions__epic {
  display: none;
}

/* Header ad */
.new-header__cta-bar {
  display: none;
}

/* Footer ad */
.cta-bar__message {
  display: none;
}

/* In-content ad */
#aus_fairfax,
[data-component="aus_fairfax"] {
  display: none;
}