/*.stream-item*/.NotJuicyEnough {
	background-color: hsl(352, 100%, 85%);
	padding: 0.3em;
	font-style: italic;
	color: hsla(0,0%,0%,0.4);
	display: block;
	text-align: center;
}



.AdaptiveMedia-video {
    min-height: initial;
}

.AdaptiveMedia-video:not(:hover) .PlayableMedia--gif {
    max-height: 20px;
    max-width: 20px;
}

.content-main {
    display: block;
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

@media (min-width: 1236px){
  .content-main {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
}

.js-global-actions a > .Icon {
    display: none;
}

.moments {
    display: none;
}

div.dashboard.dashboard-left {
    display: none;
}

div.flex-module {
    display: none;
}

div.home-tweet-box.tweet-box.component.tweet-user {
    display: none;
}

