#mw-panel { 
  /* LH nav sidebar */
  display: none;
}


#content {
  margin-left: 0 !important;
  border-left-width: 0;
  border-right-width: 0;
}

#mw-page-base {
  background: none;
  background-color: hsla(0,0%,100%,1);
}

.vectorTabs li {
  background: none;
}

#firstHeading {
  display: block;
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

#bodyContent {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

#mw-head-base {
  margin-top: initial;
  height: initial;
}

#left-navigation, #right-navigation {
  margin-left: initial;
  float: none;
}

#left-navigation {
  margin-right: 1em;
}