/*
	- Hide icon links to trashy pan-Reddit subs like "All", "Popular", and "Original Content". If you want them, you can just subscribe or create shortcuts to them.
	
	- Hide large Reddit logo/button (you can still reach Home by clicking the top-left dropdown button).
*/
#header-quicklinks-all,
#header-quicklinks-popular,
#header-quicklinks-oc,
header [href="/"][aria-label="Home"]{
	display: none;
}

.intent-checker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.intent-checker__blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-color: hsla(0,0%,100%,1);
}

.intent-checker__challenge {
	position: relative;
	z-index: 101; /* Hack; should be rendered above blocker by being after it in the DOM. */
	
	margin-right: 1em; 
}

.intent-checker__proceed-btn {
	position: relative;
	z-index: 101; /* Hack; should be rendered above blocker by being after it in the DOM. */
	
	padding: 0.2em 0.4em;
	border: 1px solid hsla(0,0%,0%,1);
}

/*iframe[src="https://www.reddit.com/register/"] {*/
/*  display: none;*/
/*}*/